<div class="row">
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-2">{{attrs.item.buildNo}}</div>
    <div class="col-md-2">.col-md-2</div>
    <div class="col-md-2">.col-md-2</div>
    <div class="col-md-2">.col-md-2</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
</div>